.calendar-item {
    font-family: 'Barlow', 'sans-serif';
    background-color: #ffc;
    /* width: 7rem;
    height: 7rem; */
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    border: 1px solid #777;
}

.calendar-item-number {
    text-align: right;
}