.calendar-item {
  font-family: "Barlow", "sans-serif";
  background-color: #ffc;
  display: flex;
  flex-direction: column;
  border: 1px solid #777;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.calendar-item-number {
  text-align: right;
  margin: 0.25rem 0.5rem;
}

.calendar-item-events-container {
  display: flex;
  flex-direction: column;
}
