.sidebar-container {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  margin-right: 1rem;
}

.sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.new-calendar-container {
  justify-self: center;
  margin-top: 1rem;
}

.calendar-preview-container {
  margin: 1rem 0.5rem;
}

.calendar-preview-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: bisque;
}

.calendar-preview-frame > p {
  margin: 0;
  padding: 0;
}
