.sidebar-container {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  padding-right: 1rem;
}

.sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}
