.calendar-preview-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: bisque;
}

.calendar-preview-frame > p {
  margin: 0;
  padding: 0;
}
