/* Credit https://github.com/machadop1407/React-Modal-Tutorial */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  border-radius: 12px;
  background-color: #003049;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.modalContainer .footer button {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  background-color: green;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: #d62828;
}
