#root,
html,
body {
  background-color: #003049;
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.text {
  color: white;
}

button {
  background-color: #f77f00;
}
